@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body,
#root,
.App,
.content {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
main{
  width: 100%;
}
.App {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
form{
  display: flex;
  flex-direction: column;
}
table{
  border-collapse: collapse;
  border: 1px solid lightgray;
  min-width: 100%
}
.table-row{
  border: 1px solid lightgray;
}
.table-rowdotted{
  border-bottom: 1px dotted lightgray;
}
.table-rowsolid{
  border-bottom: 1px solid lightgray;
}
/* th, tr, td{
  border: 1px solid lightgray;
} */
.textLow{
  text-transform: lowercase;
  padding: 2px;
  width: 8%;
  text-align: end;
  position: relative;
  border-right: 1px solid lightgray;
}
.textLow::after{
  content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.borderDotted{
  position: relative;
}
.borderDotted::after{ 
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px dotted white !important;
}
.list-event:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
.modal{
  background-color: white;
  color: black;
  z-index: 100;
  position: absolute;
  top: 21%;
  right: 2%;
  left: 2%;
  width: 120%;
}
.modal-header{
  font-weight: bold;
  font-size: 13px;
  background-color: hsla(0, 0%, 82%, .3);
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 3px 0px 3px;
}