@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body,
#root,
.App,
.content {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
main{
  width: 100%;
}
.App {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
form{
  display: flex;
  flex-direction: column;
}
table{
  border-collapse: collapse;
  border: 1px solid lightgray;
  min-width: 100%
}
th, tr, td{
  border: 1px solid lightgray;
}
.textLow{
  text-transform: lowercase;
  padding: 2px;
  width: 8%;
  text-align: end;
  position: relative;
}
.textLow::after{
  content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px dotted white;
}
.borderDotted{
  position: relative;
}
.borderDotted::after{ 
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 1px dotted white;
}
.bordertopDotted{
  position: relative;
  border-top: none;
}
.bordertopDotted::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}